*.aux
*.bbl
*.blg
*.glo
*.ist
*.lof
*.lot
*.gz
*.toc
main-blx.bib
main.glg
main.gls
main.run.xml
main.xdy
main.fdb_latexmk
main.fls
main.log
src/disenhoYDesarrollo.fdb_latexmk
src/disenhoYDesarrollo.fls
src/disenhoYDesarrollo.log
